body{
	background-color: #DEDEDE;

}
header{
	margin-bottom: 100px;
}
header>img{
	float: left;
}
header h1{
	color: white;
	background-color:black;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 5px auto;
}
#nav {

	 height: 25px;
	 line-height: 25px;
	 position: absolute;
	 margin: 10px  40%;
}
#nav li {
	float: left;
	list-style: none;
	margin-left: 20px;
}
.article-one,.article-two,.article-three,.article-pic,#sidebar{
	background-color: #ffffff;
	margin:20px ;
	padding: 10px;

}
.article-two ul li{ list-style: none; }
.boxpic{
	border: 1px #C6C6C6 solid;
    width: 145px;
    padding: 0px 17px 12px;
    margin-bottom: 20px;
    text-align: center;

}#threetb{
	width: 1200px;
	text-align: left;
}
#threetb tr th { color: white; background-color: #333333 }
#threetb tr:last-child{
	background-color: #CCCCCC;
}
#sideform li{
	list-style: none;
	text-align: right;
	margin-right: 660px; 
}
#sideform p{
	color: #ccc;
}
#sidebar ul:nth-of-type(2) li  {
	 margin-left: 350px;
	list-style: none;
}
#sidebar ul:nth-of-type(2) li:last-child{
	margin-left: 315px;
}
#lastsubmit{
	background-color: blue;
	text-align: center;
	border-radius: 15px;
}
footer{
	background-color: #000;
	color: white;
	text-align: center;
	height: 60px;
	line-height: 60px;
}