.banner {
	height : 56px;
}
.b_logo{
	line-height: 56px;
	margin-left: 60px;
	width: 100px;
	float: left;
}
.b_logo h3{
	display: inline-block;
	margin: 0px;
	color: black;
	background: url('logo.png') no-repeat  0 10px ;
	text-indent: 38px;
}
.b_logo a{
	text-decoration: none;
}

.b_nav{
	float: right;
	margin-right: 67px;
}
.b_nav ul li{
	list-style:   none;
	float: left;
	margin-left: 19px;
}
.b_nav ul li a {
	text-decoration: none;
	color: #9D9EA3;
	padding: 0  9px  13px  15px;

}
.b_nav ul li a:hover{

	border-bottom: 4px  solid  #E84F51 ;
}
.b_nav ul li a:focus {
	color: #E84F51;
	border-bottom: 4px  solid  #E84F51 ;

}
.b_nav ul li:last-child  a{
	background: url('logoin.png') no-repeat 3px 4px;
	padding-left: 23px;
	color: #E84F51;
}




.section_one{
	position: relative;
}
.sec_img img{
	 width: 100%;
	 }
.sec_text{
	position: absolute;
	top: 235px;
	left: 115px;
}
.sec_text h1{
	margin-bottom: 0;
	font-size: 56px;
	color: #fff;
	font-weight: normal;
}
.sec_text p{
	margin-top: 0;
	color: #fff;
	font-size: 21px;
}
.start_ex{
	width: 332px;
	height: 60px;
	margin-top: 67px;
	background-color: 	#ff6666;
	text-align: center;
	line-height: 60px;
	font-size: 26px;
	letter-spacing: 3px;

}

.start_ex a{
	text-decoration: none;
	color: #fff;
}
.secone_bottom{
	overflow: hidden;
}
.secoall{
	width: 325px;
	height: 249px;
	 
	float: left;
	 

}
.secoall a{
	display: inline-block;
	margin: 44px 0 20px 147px;
}
 .secoall img:hover {
	 
	border-bottom: 2px  solid  #E84F51 ;
}
.secoall img{
	display: inline-block;
	padding-bottom: 10px;
}
.secoall p{
	text-align: center;
	border-right: 2px solid  #999;
	padding-bottom: 15px;
}
#squar p:last-child{
	border: 0;
}




.section_two{
	background: url('看地图.png')  no-repeat;
	background-size: 100% 951px;
	height: 951px;
}
.sect_about {

	height: 296px;
	background-color: #DEDEDE;
	text-align: center;
	padding-top: 90px;
	font-size: 60px;
}
.sect_about p{
	color: #A1A1A1;
	margin-top: 12px;
}

.sec_city_sea{
	 text-align: center;
	 color: #fff;
	 margin-top: 54px;
}

.sec_city_sea a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;

}
.sec_city_sea a span{
	padding-bottom: 3px;
	display: inline-block;
	padding: 0 5px 3px 5px;
	margin: 0 -5px;
	border-bottom: 2px #fff solid;
}
.sec_city_sea a:hover span{
	 padding: 0 110px 3px 110px;
	 margin: 0 -110px;
}
.sec_city_sea p{
	font-size: 13px;
}